<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


    <link rel="stylesheet" href="\static\about.css">
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="image-section">
                <!-- <img src="\static\img\mmo.png"> -->
                <img  class="sec" src="\static\img\start.png">
            </div>
            <div class="content">
                <h1>About Us</h1>
                <h2>Welcome to start today website</h2>
                <p>we believe in the power of stories to inspire, motivate, and transform lives.
                     Our journey began with a simple yet profound idea: to create a platform where individuals from all walks of life can find the 
                     encouragement they need to pursue their dreams and overcome obstacles.</p>

                     <div class="sec">

                     <h4>What We Offer</h4>

                     <p>
                        <ul>
                            <li>Inspiring Stories:</li>
                            <p>Discover real-life accounts of courage, 
                                determination, and resilience that will ignite your
                                 passion and fuel your journey towards greatness.

                            </p>
                            <li>Motivational Resources:</li>
                            <p>From practical tips for overcoming obstacles to expert advice on
                                 personal development, we provide the tools and insights you need to unlock your full potential.

                            </p>


                        </ul></p></div>
            </div>
        </div>
    </div>
</body>
</html>