<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'header.html' %}

    <style>
        h3{
            text-align:center;
            color:blueviolet;
            font-size:30px;
            font-family: sans-serif;


        }
    </style>
</head>
<body>
    <h3>Can connect to motivational speaker</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/r01DOmPpxjg?si=buAuSmu99Po93Uha" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <!-- <iframe width="560" height="315" src="https://www.google.com/search?q=story+website+for+free&sca_esv=e7dc9a935a8113af&sca_upv=1&sxsrf=ADLYWILutVi2-3a0N-yYAHbFOQu0SsGEHA%3A1715679027798&ei=My9DZqWuMKueseMPyNGjkA8&ved=0ahUKEwjlk4C46oyGAxUrT2wGHcjoCPIQ4dUDCBA&uact=5&oq=story+website+for+free&gs_lp=Egxnd3Mtd2l6LXNlcnAiFnN0b3J5IHdlYnNpdGUgZm9yIGZyZWUyBhAAGBYYHjIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjIGEAAYFhgeMgsQABiABBiGAxiKBTILEAAYgAQYhgMYigVI5RVQxQVY_BNwAXgBkAEAmAGIAqAB7AyqAQUwLjguMbgBA8gBAPgBAZgCCqACyQ3CAgoQABiwAxjWBBhHwgINEAAYgAQYsAMYQxiKBcICBRAAGIAEwgIIEAAYFhgKGB7CAggQABiABBiiBJgDAIgGAZAGCpIHBTEuNi4zoAeLOg&sclient=gws-wiz-serp"></iframe> -->
</body>
</html>